<html>
<head>
    <title> Student Marks Prediction </title>
    <link rel="stylesheet" type="text/css" href="\static\css\style.css">   
</head>
    <body>
	
    <div class="login-box">
        <h1> Marks Predictor </h1>
            <form action="{{url_for('predict')}}" method = "post">
            <p>Enter Your Study Hours Per Day</p>
            <input type="number" name="Study" placeholder="Enter Study Hour">
            <input type="submit" value="Predict"> 
            </form>
            <br>
         <h1>{{ Prediction_text }}</h1>
		 <h2>Made with &#128153; by Govind Tadvi.</h2>
        </div>
    
    </body>
</html>
